<% if results.length == 0 %>
  <div class="col3">
    <b> There's no movies containing this keyword on iTunes. Try another search term.</b>
    </p>
  </div>
<% else %>
  <div class="col3">
    <b>Fetched results: </b>
  </p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Movie name </th>
        <th>Artist</th>
        <th>Censored name </th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <% results.each do |movie| %>
        <tr>
          <td><%= movie['trackName'] %></td>
          <td><%= movie['trackArtist'] %></td>
          <td><%= movie['trackCensoredName'] %></td>
          <td><%= movie['primaryGenreName'] %></td>
          <td>
            <%= link_to 'Add to whatchlist', add_to_watchlist_path(:movie => movie), :method => :post, :class => "btn btn-primary", remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
